<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<table border="1">
		<tr>
			<th>이름</th>
			<td th:text="${dto.myname }">myname</td>
		</tr>
		<tr>
			<th>날짜</th>
			<td th:text="${dto.mydate }">mydate</td>
		</tr>
		<tr>
			<th>제목</th>
			<td th:text="${dto.mytitle}">mytitle</td>
		</tr>
		<tr>
			<th>내용</th>
			<td><textarea th:text="${dto.mycontent}" rows="20" cols="40" readonly="readonly">mycontent</textarea></td>
		</tr>
	</table>
	
	<input type="button" value="삭제" onclick="location.href='delete?myno=${dto.myno }'">
	<input type="button" value="수정" onclick="location.href='updatepage?myno=${dto.myno }'">

</body>
</html>